header {
    background: $darkpurple;
    color: white;
    overflow: auto;
    padding: 20px 20px;
    width: 1400px ;
    margin-left: 12.5%;
    position:fixed;
    z-index: 10;


    .logo {
        float:left;
    }

    nav {
        float:right;
        
        a {
            color: white;
            text-decoration: none;
            padding: 7px 20px;
            font-weight: 300;
            font-size: 0.9rem;
        
            &:hover {
                color:$pink;
                text-decoration: none;
            }

            .register-btn {
                background: $pink ;
                padding: 10px 25px;
                text-align: center;
                color: white;
                border-radius: 5px;
            }
        }
    }
}


