@import 'styles/variables';
@import 'styles/header';
@import 'styles/listings';
@import 'styles/content-area';
@import 'styles/flexbox';

* {
    box-sizing: border-box;
}

html {
    background: white;
}

.App {
    position: relative;
    max-width: 1400px;
}


